<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Ecommerce</title>
</head>
<body>
    <div class="encabezado">
        <h1>Tienda El Chino</h1>
        <a href="{% url 'formulario' %}" class="btn">Agregar un producto</a>
    </div>
    {% if productos %}
    <div class="productos">
        {% for producto in productos %}
            <div class="contenedor">
                <div class="contenido">
                    <p><strong>{{ producto.nombre }}</strong></p>
                    <p>{{ producto.descripcion }}</p>
                    <p>Precio: Q{{ producto.precio }}</p>
                </div>
                <section class="lateral">
                    <img src="{{ producto.imagenURL }}" alt="{{ producto.nombre }}.img">
                    <a href="{{producto.whatsappURL}}" target="_blank" class="btn">WhatsApp</a>
                </section>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay productos disponibles en este momento.</p>
    {% endif %}
</body>
</html>