<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Productos</title>
</head>
<body>
    <div class="encabezado">
        <h1>Ponerle un nombre a la tienda</h1>
        <a href="{% url 'formulario' %}" class="btn">Agregar un producto</a>
    </div>

    <div class="productos">
        {% for producto in productos %}
            <div class="contenedor">
                <div class="contenido">
                    <p>{{ producto.nombre }}</p>
                    <p>{{ producto.descripcion }}</p>
                    
                </div>
                <div class="botones">
                    <a href="https://api.whatsapp.com/send?phone=+50236994033&text=%C2%A1Buen día! Quisiera solicitar información sobre el producto '{{ producto.nombre }}'. Gracias." target="_blank" class="btn">WhatsApp</a>
                    <p>Precio: Q{{ producto.precio }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>